<mat-card *ngIf="loginError" class="alert">Login failed: {{loginError}}</mat-card>
<div class="login">
  <form #loginForm="ngForm" (ngSubmit)="onSignIn(email.value, password.value)">
    <mat-form-field appearance="outline">
      <mat-label>mail</mat-label>
      <input matInput [formControl]="email" required>
      <mat-error *ngIf="email.invalid">Enter valid email</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>password</mat-label>
      <input matInput type="password" [formControl]="password" />
      <mat-error *ngIf="password.invalid">Enter valid password</mat-error>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>lock_open</mat-icon>
    </button>
  </form>
</div>