/* TODO fix weird side nav toggling when resizing window */

mat-sidenav-container {
  height: 100%;
  background-color: black;
}

.sidenav {
  width: 400px;
}

.subject-selection {
  background-color: white;
  padding-top: 4%;

  /* To make subject fixed */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Hides shadow on expansion panel */
mat-expansion-panel {
  transition: none !important;
  box-shadow: none !important;
}

/* TODO not working - should hide scroll bar */
.question-selection::-webkit-scrollbar {
  display: none;
}

.question-selection {
  margin-left: 5%;
}

.topic {
  text-align: center;
  color: white;
  display: inline-block;
  width: 100%;
  font-weight: bald;
  font-size: 140%;
}
mat-toolbar {
  height: 8%;
}

/* For mobile */
@media only screen and (max-width: 600px) {
  .sidenav {
    width: 100%;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
