<mat-sidenav-container>
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false || question == null">
    <!-- Subject selection -->
    <div class="subject-selection">
      <mat-expansion-panel #subjectSelection hideToggle [expanded]="selectedSubjectView == ''">
        <mat-expansion-panel-header>
          <h1>{{ selectedSubjectView || "Vyberte předmět:"}}</h1>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
          <div *ngFor="let subj of subjects | async">
            <mat-list-option *ngIf="subj.name != selectedSubjectView" [value]="subj.name"
              (click)="setSubject(subj); subjectSelection.toggle()">{{ subj.name }}
            </mat-list-option>
          </div>
        </mat-selection-list>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
    </div>

    <!-- Question selection -->
    <mat-selection-list *ngIf="selectedSubject" #questions [multiple]="false" class="question-selection">
      <mat-list-option *ngFor="let q of questionsRef | async" (click)="setQuestion(q); toggleSidenav(drawer)">
        {{ q.number }}. {{ q.topic }}
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Hamburger menu -->
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon color="accent">menu</mat-icon>
      </button>
      <span *ngIf="question" class="topic">{{ question.number }}. {{ question.topic }}</span>
    </mat-toolbar>

    <!-- Content  -->
    <app-question-details *ngIf="question" [question]="question" (saveEvent)="saveChanges($event)">
    </app-question-details>
  </mat-sidenav-content>
</mat-sidenav-container>