.container {
  background-color: white;
  padding: 3% 20% 0% 20%;
  height: 86%; /* 100 - padding - top bar*/
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 3% 10% 0% 10%;
  }
}
mat-expansion-panel {
  transition: none !important;
  box-shadow: none !important;
}

.description {
  color: gray;
}
.note {
  width: 100%;
  line-height: 1.7;
  height: 20em;
  font-size: 16px;
}

mat-slider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

app-question-details {
  padding: 10%;
}
#saveBtn {
  width: 100%;
  font-weight: bold;
}
