<div class="container">
  <p class="description">{{ question.description }}</p>
  <!-- Progress bar -->
  <mat-expansion-panel hideToggle #slider>
    <mat-expansion-panel-header>
      <mat-progress-bar
        mode="determinate"
        value="{{ question.completion * 10 }}"
      ></mat-progress-bar>
    </mat-expansion-panel-header>
    <mat-slider
      color="primary"
      thumbLabel
      tickInterval="1"
      min="0"
      max="10"
      [(ngModel)]="question.completion"
      (change)="saveChanges(); slider.toggle()"
    ></mat-slider>
  </mat-expansion-panel>

  <!-- Note -->
  <br />
  <h3>Poznámka</h3>
  <textarea
    matInput
    class="note"
    placeholder="Poznámka"
    [(ngModel)]="question.note"
    name="note"
    (keyup)="setUnsaved()"
  ></textarea>
  <button
    *ngIf="unsaved | async"
    mat-flat-button
    id="saveBtn"
    (click)="saveChanges()"
    color="warn"
  >
    ULOŽIT
  </button>
</div>
