// dont know what i am doing, but it should change colors
@import "~@angular/material/theming";
@include mat-core();
$my-app-primary: mat-palette($mat-red, 200);
$my-app-accent: mat-palette($mat-red, 100);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
@include angular-material-theme($my-app-theme);

// Change font
$custom-typography: mat-typography-config(
  $font-family: "Newsreader",
);
@include mat-core($custom-typography);
